GOOGLE_SERVER_CLIENT_ID=your_web_client_id_here.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=your_ios_client_id_here.apps.googleusercontent.com
GOOGLE_IOS_REVERSED_CLIENT_ID=com.googleusercontent.apps.your_ios_client_id_here
API_BASE_URL=